.container {
  display: block;
  color: #fff;
}

.h1 {
  font-size: 8vw;
}

@media (min-width: 1280px) {
  .h1 {
    font-size: 7rem;
  }
}

.title {
  box-sizing: border-box;
  padding-top: 3vw;
  padding-right: 0;
  padding-bottom: 30vw;
  position: relative;
  -webkit-transform-style: inherit;
  transform-style: inherit;
  width: 100vw;
}
.title,
.title:before {
  background: 58% -11rem;
  font-size: 4.5vw;
}
.title::before {
  padding-top: calc(50% - 5em);
  height: 100vh;
  bottom: 0;
  content: '';
  left: -6px;
  position: fixed;
  right: 0;
  top: 0;
  display: block;
  background-color: rgb(24, 24, 24);
  background-image: url(/images/threeCuteChicks.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform-origin: center center 0;
  -webkit-transform: translateZ(-1px) scale(2);
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}
.title * {
  font-weight: normal;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
  padding: 1em 0;
}
.title p {
  background-color: hsla(0, 0%, 100%, 0.1);
}
.contents {
  background-color: hsl(60, 10%, 10%);
  line-height: 1.7;
  padding: 5% calc(22% - 3em) 1%;
  position: relative;
  z-index: 2;
}
